---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Travel by Train"
	description="All aboard!"
	pubDate={new Date('June 14 2025')}
>
<p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Ejgb7IFkZl8?si=vcgn-ZBLs6SpCk1v?loop=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<p>
	<b>Game Mechanics</b>
	<ul>
		<li>Game modes: Got two options: "Chill Mode" (no limits, just explore) and "Challenge Mode" (with goals and a "gotta head back" timer).</li>
		<li>Feeling good? Your character's happiness changes depending on where they go and what they do. Every location and character has a "profile" that affects this.</li>
		<li>Hungry? Me too: You'll need to eat! Food keeps your hunger down, but it creeps back up over time, which affects your happiness.</li>
		<li>Who are you playing as? Choose from four characters: The Historian, The Wildlife Enthusiast, The Foodie, or The Social Butterfly.</li>
		<li>What we're tracking in game: Time, money, happiness, hunger, and your handy-dandy diary.</li>
	</ul>
	</p>

	<p>
		<b>What you can actually do</b>
		<ul>
		<li>Pick a character: Each has their own perks and starting points.</li>	
		<li>Take the train: To different cities then take other modes of transit to points of interest (buses, taxis, bike, or walk). </li>
		<li>Visit places: museums, cafes, shops, the zoo, etc.</li>
		<li>Buy stuff: because why not?</li>
		<li>Travel for days: Sleep in hotels or go camping.</li>
		<li>Talk of the Trail: Read news, chat with folks, get the lowdown on landmarks.</li>
		<li>Field Guide: Keep a diary with stats, memories and pics of points of interests.</li>
	</ul>
	</p>
	<p>
	<b>What makes it special:</b>	
	<ul>
		<li>Super accessible and fun for everyone.</li>
		<li>A legit travel sim—great for planning an actual trip for the region.</li>
		<li>"Edutainment" at its finest—learn and be entertained with microlearning bites of info that stick.</li>
		<li>Scalable! We can add more locations and even expand to other areas including mountain train routes and historic lines.</li>
		<li>Potential for local nonprofits and businesses to get in on the action with in-game promotion.</li>
		<li>Why play? Have a blast, learn a ton, and rack up that happiness score.</li>	
		<li>Vibes: The game is inspired by The Oregon Trail but with a modern and train focused approach.</li>
	</ul>
	</p>
</Layout>
