---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, 🚂 Traveler!</h1>
			<p>At a glance:</p>
			<ul>
				<li>What it is: A super fun travel simulator where you explore Colorado by train, learn cool stuff, and basically just chill out.</li>
				<li>When's it dropping? Targeting late 2025 or early 2026.<li>
				<li>Game vibe: Think adventure, society, and travel sim, all wrapped up in a sweet hand-drawn art style</li>
				<li>Where to play: TBD online or on Steam.</li>
				<li>Price point: TBD with part of the money going back to Colorado train history nonprofits.</li>
			</ul>
			</p>
		</main>
		<Footer />
	</body>
</html>
