---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, 🚂 Traveler!</h1>
			<p>We're bringing Colorado's train history and future to life with real stories and info. It's like a digital, interactive travel guide.
We're making this to showcase passenger train travel in Colorado and give a boost to local businesses and tourism.
The mission of the game is to find the coolest spots, dive into Colorado's story, and have a ton of fun along the way. At a glance:</p>
			<ul>
				<li><b>What it is?</b> A super fun travel simulator where you explore Colorado by train, learn cool stuff, and basically just chill out.</li>
				<li><b>When's it dropping?</b> Targeting late 2025 or early 2026.</li>
				<li><b>Game vibe?</b> Think adventure, society, and travel sim, all wrapped up in a sweet hand-drawn art style</li>
				<li><b>Where to play?</b> TBD online or on Steam.</li>
				<li><b>Price point?</b> TBD with part of the money going back to Colorado train history nonprofits.</li>
			</ul>
			</p>
		</main>
		<Footer />
	</body>
</html>
